<table>
    <tr>
        <td>
            <strong>@Html.Label("Name : ")</strong>
        </td>
        <td>
            @Html.TextBox("txtName")
        </td>
    </tr>
    <tr>
        <td>
            <strong>@Html.Label("Add1 : ")</strong>
        </td>
        <td>
            
            @Html.TextBox("txtAdd1")
        </td>
    </tr>
    <tr>
        <td>
            <strong>@Html.Label("Add2 : ")</strong>
        </td>
        <td>
            @Html.TextBox("txtAdd2")
        </td>
    </tr>
    <tr>
        <td>
            <strong>@Html.Label("City : ")</strong>
        </td>
        <td>
            @Html.TextBox("txtCity : ")
        </td>
    </tr>
    <tr>
        <td>
            <strong>@Html.Label("Zip : ")</strong>
        </td>
        <td>
            @Html.TextBox("txtZip")
        </td>
    </tr>
</table> 